<robot name="gbeam_link">
  <link name="gbeam_link">
    <visual>
      <geometry>
        <mesh filename="package://gbeam_model/meshes/gbeam_link_50k.dae"/>
        <!--<box size="0.05 0.3 0.05"/>-->
      </geometry>
      <!--<material name="white">-->
        <!--<color rgba="1 1 1 1"/>-->
      <!--</material>-->
    </visual>
  </link>
</robot>
