<?xml version='1.0'?>
<sdf version="1.4" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:property name="pi" value="3.14159265"/>

  <!-- GBeam links -->
  <xacro:macro name="gbeam_link" params="prefix suffix pose fixed">
    <xacro:if value="${fixed}">
      <joint name="${prefix}gbeam_link${suffix}_anchor" type="revolute">
        <pose>0 0 0 0 0 0</pose>
        <parent>world</parent>
        <child>${prefix}gbeam_link${suffix}</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>0</lower>
            <upper>0</upper>
          </limit>
          <dynamics>
            <damping>0</damping>
          </dynamics>
        </axis>
      </joint>
    </xacro:if>

    <link name="${prefix}gbeam_link${suffix}">

      <xacro:if value="${fixed}">
        <gravity>0</gravity>
        <self_collide>0</self_collide>
      </xacro:if>
      <xacro:unless value="${fixed}">
        <gravity>1</gravity>
        <self_collide>1</self_collide>
      </xacro:unless>

      <pose>${pose}</pose>

      <inertial>
        <mass>0.2</mass>
        <inertia>
          <ixx>0.0001</ixx><ixy>0</ixy>    <ixz>0</ixz>
          <iyy>0.0002</iyy><iyz>0</iyz>
          <izz>0.0001</izz>
        </inertia>
      </inertial>
      <xacro:unless value="true">
        <collision name='collision'>
          <!-- use full scanned collision mesh -->
          <geometry>
            <mesh><uri>file://$(find gbeam_model)/meshes/gbeam_link_5k.stl</uri></mesh>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>0.7</mu>
                <!--<mu2>0.7</mu2>-->
              </ode>
            </friction>
            <bounce>
              <restitution_coefficient>0.0</restitution_coefficient>
            </bounce>
            <contact>
              <ode>
                <soft_cfm>0.01</soft_cfm>
                <soft_erp>0.05</soft_erp>
                <kp>50000</kp>
                <kd>8</kd>
              </ode>
            </contact>
          </surface>
        </collision>
      </xacro:unless>
      <xacro:if value="true">
        <collision name='gbeam_link_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <box>
              <size>0.035 ${0.24+0.004} 0.035</size>
            </box>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>0.7</mu>
                <!--<mu2>0.7</mu2>-->
              </ode>
            </friction>
            <bounce>
              <restitution_coefficient>0.0</restitution_coefficient>
            </bounce>
            <contact>
              <ode>
                <soft_cfm>0.01</soft_cfm>
                <soft_erp>0.05</soft_erp>
                <kp>50000</kp>
                <kd>8</kd>
              </ode>
            </contact>
          </surface>
        </collision>
        <collision name='gbeam_link_collision_gbeam_link_1'>
          <pose>0 ${0.115-0.00635/2.0} 0 1.5707 -0 0</pose>
          <geometry>
            <cylinder>
              <length>0.00635</length>
              <radius>0.028</radius>
            </cylinder>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>1.7</mu>
                <!--<mu2>0.7</mu2>-->
                <slip1>1.0</slip1>
                <slip2>1.0</slip2>
              </ode>
            </friction>
            <contact>
              <ode>
                <soft_cfm>0.01</soft_cfm>
                <soft_erp>0.05</soft_erp>
              </ode>
            </contact>
          </surface>
        </collision>
        <collision name='gbeam_link_collision_gbeam_link_2'>
          <pose>0 ${-0.115+0.00635/2.0} 0 1.5707 -0 0</pose>
          <geometry>
            <cylinder>
              <length>0.00635</length>
              <radius>0.028</radius>
            </cylinder>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>1.7</mu>
                <slip1>1.0</slip1>
                <slip2>1.0</slip2>
                <!--<mu2>0.7</mu2>-->
              </ode>
            </friction>
            <bounce>
              <restitution_coefficient>0.0</restitution_coefficient>
            </bounce>
            <contact>
              <ode>
                <soft_cfm>0.01</soft_cfm>
                <soft_erp>0.02</soft_erp>
                <kp>50000</kp>
                <kd>8</kd>
              </ode>
            </contact>
          </surface>
        </collision>
      </xacro:if>

      <visual name='visual'>
        <material>
          <ambient>0.6 0.6 0.6 1</ambient>
          <diffuse>0.5 0.5 0.5 1</diffuse>
          <specular>1.0 1.0 1.0 1</specular>
          <emissive>0 0 0 0</emissive>
        </material>
        <geometry>
          <mesh><uri>file://$(find gbeam_model)/meshes/gbeam_link_visual.dae</uri></mesh>
        </geometry>
      </visual>
    </link>
  </xacro:macro>

  <xacro:macro name="gbeam_node" params="prefix suffix pose fixed">
    <xacro:if value="${fixed}">
      <joint name="${prefix}gbeam_node${suffix}_anchor" type="revolute">
        <pose>0 0 0 0 0 0</pose>
        <parent>world</parent>
        <child>${prefix}gbeam_node${suffix}</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>0</lower>
            <upper>0</upper>
          </limit>
          <dynamics>
            <damping>0</damping>
          </dynamics>
        </axis>
      </joint>
    </xacro:if>

    <link name="${prefix}gbeam_node${suffix}">

      <xacro:if value="${fixed}">
        <gravity>0</gravity>
        <self_collide>0</self_collide>
      </xacro:if>
      <xacro:unless value="${fixed}">
        <gravity>1</gravity>
        <self_collide>1</self_collide>
      </xacro:unless>

      <pose>${pose}</pose>

      <inertial>
        <mass>0.1</mass>
        <inertia>
          <ixx>5.22E-5</ixx><ixy>0</ixy>    <ixz>0</ixz>
          <iyy>5.22E-5</iyy><iyz>0</iyz>
          <izz>5.22E-5</izz>
        </inertia>
      </inertial>

      <collision name='collision'>
        <geometry>
          <!--<mesh><uri>file://$(find gbeam_model)/meshes/gbeam_node_5k.stl</uri></mesh>-->
          <box><size>0.056 0.056 0.056</size></box>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>0.5</mu>
              <!--<mu2>0.5</mu2>-->
            </ode>
          </friction>
          <bounce>
            <restitution_coefficient>0.0</restitution_coefficient>
          </bounce>
          <contact>
            <ode>
              <soft_cfm>0.01</soft_cfm>
              <soft_erp>0.02</soft_erp>
              <kp>50000</kp>
              <kd>8</kd>
            </ode>
          </contact>
        </surface>
      </collision>

      <visual name='visual'>
        <material>
          <ambient>0.3 0.3 0.3 1</ambient>
          <diffuse>0.5 0.5 0.5 1</diffuse>
          <specular>1.0 1.0 1.0 1</specular>
          <emissive>0 0 0 0</emissive>
        </material>
        <geometry>
          <mesh><uri>file://$(find gbeam_model)/meshes/gbeam_node_visual.dae</uri></mesh>
        </geometry>
      </visual>
    </link>
  </xacro:macro>

  <xacro:macro name="gbeam_hog" params="pose">
    <plugin name='hand_of_god' filename="libgazebo_ros_hand_of_god.so">
      <frameId>hog</frameId>
      <linkName>hog</linkName>
      <kl>100</kl>
      <ka>50</ka>
    </plugin>
    <link name ='hog'>
      <self_collide>1</self_collide>
      <pose>${pose}</pose>
      <collision name ='collision'>
        <geometry>
          <sphere><radius>0.028</radius></sphere>
        </geometry>
      </collision>
      <visual name ='visual'>
        <geometry>
          <sphere><radius>0.028</radius></sphere>
        </geometry>
      </visual>
      <inertial>
        <mass>0.3</mass>
        <inertia>
          <ixx>0.001</ixx><ixy>0</ixy>    <ixz>0</ixz>
          <iyy>0.001</iyy><iyz>0</iyz>
          <izz>0.001</izz>
        </inertia>
      </inertial>
    </link>
  </xacro:macro>

  <!-- GBeam mates -->
  <xacro:macro name="gbeam_mate" params="linear_attach angular_attach linear_detach angular_detach">
    <mate_model type="gbeam" model="dipole">
      <!-- planar shear-supporting magnetic mate
           mating surface is along positive z-axis
             -->
        <symmetry>
          <rot>1 1 4</rot>
        </symmetry>

        <!-- single-magnet mate -->
        <xacro:if value="0">
          <dipole>
            <position>0.0 0.0 0</position>
            <moment>0 0 0.3</moment>
            <min_distance>0.004</min_distance>
          </dipole>
        </xacro:if>

        <!-- four-magnet mate -->
        <xacro:if value="1">
          <max_force>50.0 50.0 10.0</max_force>
          <max_torque>0.5 0.5 5.0</max_torque>

          <dipole>
            <position>0.01 0.01 0</position>
            <moment>0 0 0.02</moment>
            <min_distance>0.003</min_distance>
          </dipole>

          <dipole>
            <position>-0.1 0.01 0</position>
            <moment>0 0 0.02</moment>
            <min_distance>0.003</min_distance>
          </dipole>

          <dipole>
            <position>-0.01 -0.01 0</position>
            <moment>0 0 0.02</moment>
            <min_distance>0.003</min_distance>
          </dipole>

          <dipole>
            <position>0.01 -0.01 0</position>
            <moment>0 0 0.02</moment>
            <min_distance>0.003</min_distance>
          </dipole>
        </xacro:if>

        <!-- proximity -->
        <attach_threshold>
          <linear>0.0005</linear>
          <angular>0.05</angular>
          <!--<linear>${linear_attach}</linear>-->
          <!--<angular>${angular_attach}</angular>-->
        </attach_threshold>

        <detach_threshold>
          <linear>0.005</linear>
          <angular>0.05</angular>
          <!--<linear>${linear_detach}</linear>-->
          <!--<angular>${angular_detach}</angular>-->
        </detach_threshold>

        <joint type="prismatic" name="gbeam">
          <pose>0 0.028 0 0 ${pi/2} 0</pose>
          <parent>gbeam_link</parent>
          <child>gbeam_node</child>
          <axis>
            <xyz>0 0 1</xyz>
            <limit>
              <lower>-0.0001</lower>
              <upper>0.0001</upper>
            </limit>
            <dynamics>
              <damping>0.1</damping>
            </dynamics>
          </axis>
          <physics>
            <provide_feedback>true</provide_feedback>
            <ode>
              <!--<cfm_damping>true</cfm_damping>-->
              <!--<cfm>1.0</cfm>-->
              <!--<erp>0.02</erp>-->
              <!--<limit>-->
                <!--<cfm>0.001</cfm>-->
                <!--<erp>0.01</erp>-->
              <!--</limit>-->
            </ode>
          </physics>
        </joint>
    </mate_model>
  </xacro:macro>

  <!-- GBeam atoms -->
  <xacro:macro name="gbeam_link_atom" params="">
    <atom_model type="gbeam_link">
      <mate_point type="gbeam" gender="male">
        <pose>0 0.122 0 ${pi/2} ${pi/4} ${pi}</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0 -0.122 0 ${pi/2} ${pi/4} 0</pose>
      </mate_point>
    </atom_model>
  </xacro:macro>

  <xacro:macro name="gbeam_node_atom" params="">
    <atom_model type="gbeam_node">
      <mate_point type="gbeam" gender="female">
        <pose>0 0.028 0 ${pi/2} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 -0.028 0 ${pi/2} 0 ${pi}</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 0 0.028 ${pi} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 0 -0.028 0 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0.028 0 0 0 -${pi/2.0} 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>-0.028 0 0 0 ${pi/2.0} 0</pose>
      </mate_point>
    </atom_model>
  </xacro:macro>

  <xacro:macro name="gbeam_hog_atom" params="">
    <atom_model type="hog">
      <mate_point type="gbeam" gender="female">
        <pose>0 0.028 0 ${pi/2} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 -0.028 0 ${pi/2} 0 ${pi}</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 0 0.028 ${pi} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 0 -0.028 0 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0.028 0 0 0 -${pi/2.0} 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>-0.028 0 0 0 ${pi/2.0} 0</pose>
      </mate_point>

      <mate_point type="gbeam" gender="male">
        <pose>0 -0.028 0 ${pi/2} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0 0.028 0 ${pi/2} 0 ${pi}</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0 0 -0.028 ${pi} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0 0 0.028 0 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>-0.028 0 0 0 -${pi/2.0} 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0.028 0 0 0 ${pi/2.0} 0</pose>
      </mate_point>
    </atom_model>
  </xacro:macro>
</sdf>
