<?xml version="1.0" ?>
<sdf version="1.4" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <world name="default">

    <!-- A global light source -->
    <include>
      <uri>model://sun</uri>
    </include>

    <!-- A ground plane -->
    <include>
      <uri>model://ground_plane</uri>
    </include>

    <!-- Hand of God -->
    <model name ='hog'>
      <plugin name='hand_of_god' filename="libgazebo_ros_hand_of_god.so">
        <frameId>hog</frameId>
        <linkName>hog</linkName>
        <kl>400</kl>
        <ka>200</ka>
      </plugin>

      <link name ='hog'>
        <self_collide>0</self_collide>
        <pose>0 0 1 0 0 0</pose>
        <collision name ='collision'>
          <geometry>
            <sphere><radius>0.025</radius></sphere>
          </geometry>
        </collision>
        <visual name ='visual'>
          <geometry>
            <sphere><radius>0.025</radius></sphere>
          </geometry>
        </visual>
        <inertial>
          <mass>0.3</mass>
          <inertia>
            <ixx>0.001</ixx><ixy>0</ixy>    <ixz>0</ixz>
            <iyy>0.001</iyy><iyz>0</iyz>
            <izz>0.001</izz>
          </inertia>
        </inertial>
      </link>
    </model>

    <!-- GBeam Soup -->
    <xacro:include filename="$(find gbeam_sim)/gbeam_soup.sdf.xacro"/>

  </world>
</sdf>

