<launch>
  <arg name="gui" default="false"/>
  <arg name="hydra" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="rviz" default="false" doc="(bool) bring up rviz UI to see mates"/>
  <arg name="rviz_config" default="$(find gbeam_sim)/config/sim.rviz" doc="(string) rviz config file for user interface"/>

  <!--

  rosrun xacro xacro.py gbeam.world.xacro > gbeam2.world && roslaunch sim.launch hydra:=true

  -->

  <param name="use_sim_time" value="true"/>
  <param name="gbeam_link_description" textfile="$(find gbeam_model)/urdf/gbeam_link.urdf"/>
  <param name="gbeam_node_description" textfile="$(find gbeam_model)/urdf/gbeam_node.urdf"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gbeam_sim)/gbeam2.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" />

  <group if="$(arg hydra)">

    <param if="$(arg rviz)" name="hand_of_god_description" textfile="$(find gbeam_model)/urdf/hand_of_god.urdf"/>
    <node if="$(arg rviz)" pkg="tf" type="static_transform_publisher" name="$(anon stp)" args="0 0 0 0 0 0 /hydra_right_grab_desired /hog 100"/>

    <node pkg="tf" type="static_transform_publisher" name="$(anon stp)" args="0.5 0 -0.01 0 0 0 /world /hydra_base 100"/>

    <node pkg="gbeam_sim" type="tf_scaler.py" name="tf_scaler">
      <param name="parent_frame_id" value="world"/>
      <param name="unscaled_frame_id" value="hydra_right_grab"/>
      <param name="scaled_frame_id" value="hydra_right_grab_desired"/>
      <param name="scale" value="4.0"/>
    </node>



    <include file="$(find razer_hydra)/launch/hydra.launch">
      <arg name="publish_tf" value="true"/>
    </include>
  </group>
</launch>

